:root {
  --primary-color: #302583;
  --secondary-color: #252525;
}
body {
  font-family: "Inter", sans-serif !important;
}
.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 25;
}
.btn-login,
.btn-reg {
  background: var(--primary-color);
  color: #fff !important;
  width: 100px;
  transition: all 0.3s ease-in-out;
}

.btn-login:hover {
  box-shadow: 0 0 15px var(--primary-color) !important;
}
.btn-reg {
  width: 250px;
  background: none;
  border: 1px solid #ffff;
  box-shadow: 0 0 15px #fff !important;
}
.btn-reg:hover,
.btn-filter:hover {
  background: var(--primary-color);
  box-shadow: 0 0 15px var(--primary-color) !important;
  border-color: var(--primary-color);
}
.btn-filter:hover {
  color: #fff !important;
}
.btn,
.form-control,
.btn-close {
  box-shadow: none !important;
}
.banner {
  /* background: url("./Assets/banner_img.jpg") no-repeat; */
  background: rgb(60, 82, 138);
  background-size: cover;
  height: 66vh;
  width: 100%;
  z-index: 1;
}
.overlay {
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}
.banner-container {
  z-index: 3;
}
.footer {
  background: #252525;
  color: #fff;
}
.card.login {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn-login.log {
  width: 50%;
}
.btn-login.google {
  background: var(--secondary-color);
  width: 90%;
}
.btn-login.google:hover {
  box-shadow: 0 0 15px rgb(60, 60, 60) !important;
}
.nominee-box {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  column-gap: 5px;
}
.img-box {
  border: 1px solid #252525;
  height: 130px;
  width: 130px;
  cursor: pointer;
}
.btn-filter {
  border: 1px solid var(--primary-color);
  background: none;
  color: var(--primary-color) !important;
  transition: all 0.3s ease-in-out;
}
.card.reg {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card.reg:hover {
  box-shadow: 0 0 10px rgba(60, 60, 60, 0.2);
}
.btn-filter:hover {
  box-shadow: none !important;
}
.admin-password-field {
  outline: none;
  border: none;
}
